DEV_VPC_CIDR=
DEV_PUBLIC_SUBNET_CIDR_1=
DEV_PUBLIC_SUBNET_CIDR_2=
DEV_PRIVATE_APP_SUBNET_CIDR_1=
DEV_PRIVATE_APP_SUBNET_CIDR_2=
DEV_PRIVATE_DB_SUBNET_CIDR_1=
DEV_PRIVATE_DB_SUBNET_CIDR_2=

STAGING_VPC_CIDR=
STAGING_PUBLIC_SUBNET_CIDR_1=
STAGING_PUBLIC_SUBNET_CIDR_2=
STAGING_PRIVATE_APP_SUBNET_CIDR_1=
STAGING_PRIVATE_APP_SUBNET_CIDR_2=
STAGING_PRIVATE_DB_SUBNET_CIDR_1=
STAGING_PRIVATE_DB_SUBNET_CIDR_2=

PROD_VPC_CIDR=
PROD_PUBLIC_SUBNET_CIDR_1=
PROD_PUBLIC_SUBNET_CIDR_2=
PROD_PRIVATE_APP_SUBNET_CIDR_1=
PROD_PRIVATE_APP_SUBNET_CIDR_2=
PROD_PRIVATE_DB_SUBNET_CIDR_1=
PROD_PRIVATE_DB_SUBNET_CIDR_2=

DOCKER_PLATFORM=