aws_region   = "{{ shared.aws_region }}"
project_name = "{{ shared.project_name }}"
environment  = "{{ environments.dev.environment }}"

availability_zones = [
{% for az in shared.availability_zones %}
  "{{ az }}"{% if not loop.last %},{% endif %}
{% endfor %}
]

vpc_cidr = "{{ environments.dev.vpc_cidr }}"

public_subnet_cidrs = [
{% for cidr in environments.dev.public_subnet_cidrs %}
  "{{ cidr }}"{% if not loop.last %},{% endif %}
{% endfor %}
]

private_app_subnet_cidrs = [
{% for cidr in environments.dev.private_app_subnet_cidrs %}
  "{{ cidr }}"{% if not loop.last %},{% endif %}
{% endfor %}
]

private_db_subnet_cidrs = [
{% for cidr in environments.dev.private_db_subnet_cidrs %}
  "{{ cidr }}"{% if not loop.last %},{% endif %}
{% endfor %}
]

allowed_ingress_cidr_blocks = [
{% for cidr in shared.allowed_ingress_cidr_blocks %}
  "{{ cidr }}"{% if not loop.last %},{% endif %}
{% endfor %}
]

alb_internal                   = {{ shared.alb_internal | lower }}
alb_idle_timeout               = {{ shared.alb_idle_timeout }}
alb_enable_deletion_protection = {{ shared.alb_enable_deletion_protection | lower }}

enable_waf         = {{ shared.enable_waf | lower }}
waf_default_action = "{{ shared.waf_default_action }}"

waf_managed_rule_groups = [
{% for rule in environments.dev.waf_managed_rule_groups %}
  {
    name            = "{{ rule.name }}"
    priority        = {{ rule.priority }}
    vendor_name     = "{{ rule.vendor_name }}"
    override_action = "{{ rule.override_action }}"
  }{% if not loop.last %},{% endif %}
{% endfor %}
]

db_username = "{{ shared.db_username }}"
db_password = "{{ 'DEV_DB_PASSWORD' | env }}"
